* {
  cursor: url("./hand.cur"), auto !important;
  font-family: "Times New Roman", Times, serif;
}

a:visited {
  color: purple;
}

a {
  @apply underline !important;
}

a:hover {
  @apply hover:text-pink-500;
}

#root {
  background: url("./backgrounds/bg-clouds.gif");
  background-size: 270px auto;
}
